<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Téléchargement de video Pluzz.fr  - Accueil</title>


  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="public/css/materialize.min.css">

  <link rel="stylesheet" href="public/css/style.css">

</head>
<body background="#EE6E73">
  <div class="row">
    <h1 class="col s6 offset-s3">Télécharger une video Pluzz</h1>
  </div>
  <!-- card begin-->

  <div class="container">
    <div class="row">
    <div class="col s12 m12" id="downloadArea">
      <div class="card-panel red darken-2 col s6 offset-s3 white-text">{{ error }}</div>
      <div class="card-image center">
        <img src="/" alt="/" class="hide picture" width="250">
      </div>

      
        <div class="card-panel green col s6 offset-s3 white-text message"></div>
      

        <div class="row progression hide">
          <div class="progressText col s6 offset-s3 center"></div>
          <div id="progressBar"class="progress col s6 offset-s3 center">
            <div class="progressElement"></div>
          </div>
        </div>

      
          <form id="form" class="col s6 offset-s3" action="/" method="POST">
            <div class="row">
              <div class="input-field">
                <i class="material-icons prefix">input</i>
                <input id="dlink" type="url" name="dlink" class="validate" required>
                <label for="dlink">Lien Pluzz</label>
              </div>
               <!-- options formats de conversion -->
              <div class="switch">
                <label>Veuillez choisir le format de sortie souhaité :</label><br>
                <input class="with-gap" name="format" value="mp4" type="radio" id="formatMP4" checked="checked"/>
                <label for="formatMP4">.mp4</label>
                <input class="with-gap" name="format" value="avi" type="radio" id="formatAVI"/>
                <label for="formatAVI">.avi</label>
              </div>
            </div>
            <div class="row bouttonTelechargement">
                <button class="btn waves-effect waves-light" type="submit" name="action">Télécharger
                  <i class="material-icons right">send</i>
                </button>
              </div>
          </form>
      </div>
  </div>
  </div>
  
  
  <!-- card end-->
  <!-- footer begin-->
  <footer class="page-footer">
    <div class="container">
      <div id="row1Footer" class="row">
        <div id="about" class="col l6 s12">
          <h5 class="white-text">A propos</h5>
          <p class="grey-text text-lighten-4">PluzzD permet de télécharer des vidéos de France TV</p>
        </div>
        <div id="follow" class="col l4 s12">
          <h5 class="white-text">Suivez Pluzz</h5>
        </div>
        <div id="contact" class="col l4 offset-l2 s12">
          <h5 class="white-text">Contact</h5>
          <ul class="white-text">
            <li> <a href="https://github.com/MatthD">Matthias Dieudonné</a></li>
            <li> <a href="https://github.com/nCombo">Nourdine Combo</a></li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
            © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
  <!-- footer end -->
</body>

<!-- Jquery & Materialize framework -->
<script src="public/js/jquery-2.js"></script>
<script src="public/js/materialize.min.js"></script>
<script src="public/js/socket-io.js"></script>
<!-- Socketio pour mettre à jour le site sans rechargement -->
<script>
  var socket = io.connect('http://localhost:3000'),
      progression = $(".progression"),
      picture = $(".picture");

  socket.on('update', function (data) {
    console.log("Vous avez un message" , data);
    if(data.info){
      if($(".picture").hasClass("hide")){
        $(".picture").removeClass("hide");
      }
      $(".picture").attr("src" , data.info.image);
      $(".message").text(data.info.message);
      Materialize.toast(data.info.toast, 4500, 'rounded');
    }
    if(data.toast){
        Materialize.toast(data.toast, 4500, 'rounded');
    }
    if (data.progress){
      if(progression.hasClass("hide")){
        progression.removeClass("hide");
      }
      if(data.progress === "start"){
        $(".progressElement").addClass("indeterminate");
      }
      else{
        $(".progressElement").addClass("determinate")
        $(".progressElement").css("width" , data.progress);
        $(".progressText").text(data.progress);
      }

    }
  });
</script>

</html>