/*
* Style CSS de PLUZZDownloader
*/

h1{
  text-align: center;
  color: #EE6E73;
}

.hide{
  display: none;
}

.bouttonTelechargement{
  text-align: center;
}

.toasting{
  background: #60BECA;
  border-radius: 30px;
}

#downloadArea {
	border: 2px solid #ccc;
  border-radius: 5px; 
	margin-left: 23em;
  width: 50%;
  box-shadow: 3px 1px 15px rgb(128, 128, 128);

}

#form {
	margin-left: 1em;
	width: 100%;
}

#progressBar {
	margin-left: 1em;
}

.switch label {
  color: #000000;
  font-size: 1.1em;
}


/*Footer */
#about {
  width: 30%;

}
#contact{
  margin-left: 0%;
}

.page-footer {
  background-color: #424242 !important;
  padding-bottom: 0px;
}

.footer-copyright {
  background-color: #212121 !important;
}