/*
* Style CSS de PLUZZDownloader
*/

h1{
  text-align: center;
  color: #EE6E73;
}

.hide{
  display: none;
}

.bouttonTelechargement{
  text-align: center;
}

.toasting{
  background: #60BECA;
  border-radius: 30px;
}

#downloadArea {
	border: 1px solid #ccc; 
	margin-left: 23em;
  width: 50%;

}

#form {
	margin-left: 1em;
	width: 100%;
}

#progressBar {
	margin-left: 1em;
}